.wrapper {
    max-width: 1289px;
    width: 90%;
    margin: 0 auto;

    &.blog {
        width: 62%;
    }
    
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

img {
    width: 100%;
    display: block;
}


button {
    text-transform: uppercase;
    font-family: $primary-font;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 15px;

    &.big {
        background-color: $treegreen;
        color: $tertiary;
        border: none;
        cursor: pointer;
        padding: 20px 50px;
    } 
}

.border {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    border-bottom: 2px solid $treegreen;
}

.bottom-border {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid $secondary;
}

.title {
    padding: 20px 0;

    p span {
        @include fontSize(18);
        font-family: $primary-font;
        text-transform: uppercase;
        font-weight: bold;
    }
}

input,
    textarea{
        border: 1px solid $secondary;
        font-family: $secondary-font;
        @include fontSize(16);
        transition: 0.3s;
        
        
        &::placeholder {
            opacity: .5;
        }
        
        &:hover,
        &:focus {
            outline: none;
            border: 2px solid $treegreen;
            border-color: $treegreen;
            box-shadow: $treegreen;
        }
        
    }
    
    textarea {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        resize: none;
    }
    
    select {
        appearance: none;
        background-color: $tertiary;
    }
    
    .name,
    .email,
    .website {

        input {
            height: 35px;

        }
    }
    
    .comment {
        textarea {
            line-height: 20px;
        }
    }