.contact-photo {
    background-image: url(../assets/contact-2.jpeg);
    min-height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}