footer {
    
    background-color: $quaternary;
    color: $tertiary;
    padding-top: 70px;

    h1 {
        color: $treegreen;
        padding: 10px 0 20px 0;
    }

    h4 {
        color: $tertiary;
        text-transform: uppercase;
        padding-bottom: 20px;
        @include fontSize(24);
    }

    h5 {
        color: $secondary;
        line-height: 20px;
        font-weight: normal;

        span {
            display: block;
        }
    }

    li {
        border-bottom: .5px solid $secondary ;
        
    }

    li:first-child,
    li:last-child {
        border-bottom:none
    }

    .wrapper-footer {
        max-width: 1289px;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;

        .address {
            flex-wrap: wrap;
            width: 26%;
        }

        .posts {
            width: 30%;

            h5 {
                margin: 12.5px 0;
            }
        }

        .subscribe {
            width: 21%;

            li {
                border-bottom: none;
            }

            .flex-subscribe {
                display: flex;
                align-items:center;
                justify-content: left;
                padding-bottom: 50px;
                border-bottom: .5px solid $secondary;
            }

            button {
                color: $tertiary;
                background-color: $treegreen;
                height: 50px;
                text-align: center;
            }
            .socials {
                display: flex;
                align-items: flex-start;
                padding-top: 20px;

                li {
                    padding: 0 10px;
                    border-bottom: none;

                    i {
                        &:hover,
                        &:focus {
                            color: rgba($color: $treegreen, $alpha: 0.6);
                        }
                    }
                    
                }
            }
        }

        .address,
        .posts,
        .subscribe {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }


        input {
            appearance: none;
            background-color: $quinary;
            color: $secondary;
            border: none;
            height: 50px;
            text-indent: 5%;
            font-style: italic;
            width: 100%;
        }
    }

    .wrapper-copyrights {
        background-color: $primary;

        .copyright {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 80%;
            margin: 0 auto;
            background-color: $primary;
            padding-left: 40px;

            h5 {
                font-family: $primary-font;
                
                span {
                    color: $treegreen;
                    display: inline-block;
                }
            }
        }
    }
}