form{

    p {
        line-height: 0;
    }
}

.form {
    padding: 20px 0 0 0;
}

.form-subtitle {
    font-style: italic;
}

.contact-form{

    .form-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-width: none;
    }
    .big {
        margin: 20px 0 200px 0;
    }
}


