@media (max-width:1255px) {

    .wrapper {
        max-width: 1255px;
    }
    .dishes-flex, 
    .popular-flex {
        padding: 0;

        .list {
            padding: 0;
        }
    }

    footer {

        .wrapper-footer {
            width: 80%;
            margin: 0 auto;
            justify-content:space-around;
        }
        
    }
}

@media (max-width: 1225px) {

    .wrapper {
        max-width: 1225px;

        &.blog {
            width: 80%;
        }
    }
}

@media (max-width: 1165px) {

    .wrapper {
        max-width: 1165px;
        width: 80%;
    }

    footer {
        padding: 0;
        text-align: center;

        li {
            padding: 0;
        }

        .wrapper-footer {
            width: 100%;
            margin: 0;
            align-items: center;

            .address,
            .posts,
            .subscribe {
                width: 20%;
                padding: 0;
            }

            .subscribe {
                align-self: baseline;
            }

            .address {
                align-self: baseline;
            }
        }

        .socials {
            flex-direction: row;
            justify-content: center;
        }

        .wrapper-copyrights .copyright {
            width: 100%;
            justify-content: center;
            padding: 0;
        }
    }  
}

@media (max-width: 1000px) {

    .wrapper {
        max-width: 1000px;
        width: 80%;
    }

    .nav-bar {
        flex-direction: column;

        .nav-flex {
            justify-content: right;
            width: 100%;

            .search-cart {
                width: auto;
            }
        }

        .nav-flex :nth-child(2) {order: 4;}

        .menu {
            display: none;
        }

        .menu-toggle-button {
            margin: 15px 0 0 40px;
        }

        .menu-button-container {
            display: flex;
        }
    }     

    //Tried my best to make this Hamburger work - but alas - no dice//

    // #menu-toggle ~ .menu-hamburger li {
    //     display: none;
    //     height: 0;
    //     margin: 0;
    //     padding: 0;
    //     border: 0;
    //     transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
        
    // }

    // #menu-toggle:checked ~ .menu-hamburger li {
    //     display: flex;
    //     border: 1px solid #000;
    //     height: 2.0em;
    //     padding: 0.5em;
    //     transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);
    // }

    // .menu-hamburger > li {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     margin: 0;
    //     padding: 5em 0;
    //     max-width: 50%;
    //     color:#000;
    //     background: #e7a8e6;
    //     opacity: .6;
    // }

    // .menu-hamburger {
    //     display: flex;
    //     position: absolute;
    //     top: 0;
    //     margin-top: 100px;
    //     right: 0px;
    //     width: 100%;
    //     justify-content: center;
    //     list-style-type: none;
    // }

    .contact-flex {
        flex-direction: column-reverse;

        .contact-right{
            width: 100%;

        .contact-details {
            text-align: center;
            margin: 0 30px;

            .details p {
                margin: 0 20%;
            }
        }
        }

        .contact-left {
            width: 80%;
            margin: 0 auto;

            .drop-form h2 {
                text-align: center;
            }
        }
    }
}

@media (max-width:978px) {

    .wrapper {
        max-width: 978px;
        width: 80%;
    }

    .wrapper-popular-dishes {
        width: 100%;
        margin: 0 auto;
        
        .popular {
            padding: 20px 0;
            background-color:rgb(46, 46, 46, .8);
            
            .popular-flex {
                flex-direction: column;

                li {
                    width: 100%;
                }
                
                li:nth-child(2) {
                    padding: 0;
                    margin: 10px 0;
                    border: 2px solid $treegreen;
                }

                .popular-text {
                    background-color: $secondary;
                    padding-top: 20px;
                    margin-bottom: 20px;
                    border: 2px solid $treegreen;
                    align-items: center;
            
                    p{
                        color: $tertiary;
                    }
                }
            }
        }
        
        .dishes-flex {
            flex-direction: column-reverse;
            background-color: rgb(153, 153, 153, .6);
            
            .dishes-img {
                margin-top: 20px;
                border: 2px solid $treegreen;
                width: 100%;

            }
        }
        
        .dishes-flex, 
        .popular-flex {
            padding-top: 20px;
            align-items:center;
            flex-direction: column;
            margin: 0 auto;
            
            li {
                width: 100%;
            }
            
            .list {
                flex-direction: column;
                margin: 20px 0;

                li::before {
                    background-color: $treegreen;
                    border-radius: 15%;
                }
            }
        }
        
    }

    .popular-img {
        margin-top: 20px;
        border: 2px solid $treegreen;
        width: 100%;
    }

    .gallery {
        flex-direction: column;

        .gallery-container {
            background-color: rgb(153, 153, 153, .6);

            ul {
                flex-direction: column;
            }
        }
    }   

    .restaurant-container {
        margin: 75px 0;
        
        .img-container-restaurant {
            width: 225px;
            height: 147.5px;
            background-size: contain;
        }

        img {
            width: 87.5px;
            height: 87.5px;
        }
    }
}

@media (max-width:914px) {

    .wrapper {
        max-width: 914px;
        max-width: 80%;
    }

    .quote {
        height: 300px;

        .wrapper {
            width: 100%;

            h3 {
                padding-top: 25px;
            }

            p {
                font-size: .75rem;
            }

            blockquote:before {
                left: -10px;
            }

            blockquote:after {
                right: -10px;
                top: 150px;
            }
        }
    }
}

@media (max-width: 860px) {

    .wrapper {
        max-width: 860px;
        width: 100%;

            &.blog {
                width: 100%;

                .title {
                    text-align: center;
                }

                .form-subtitle {
                    text-align: center;
                }

                .post-flex {
                    flex-direction: column;

                    .post {
                        width: 75%;

                        h3 {
                            text-align: center;
                        }

                        p {
                            text-align: center;
                        }
                    }
                }

                .submit-button {
                    text-align: center;
                }
            }
        
    }

    .highlight .wrapper .highlight-flex {
        flex-direction: column;
        text-align: center;
        align-items: center;

        .highlight-img {
            height: fit-content;
            width: fit-content;
        }

        .highlight-text {
            width: 100%;
            margin-top: 20px;

            p {
                margin: 0;
            }
        }
    }

    .related {
        background-color: $tertiary;
    }

    footer .wrapper-footer {
        max-width: 860px;
        width: 100%;
        text-align: left;

        h1 {
            font-size: 1rem;
            line-height: 25px;
            padding: 0;
        }

        h4 {
            font-size: .75rem;
            line-height: 25px;
            padding: 0;
        }

        .address {
            flex-wrap: nowrap;
        }

        .subscribe {
            padding: 0;
        }

        li {
            width: fit-content;
        }
    }

    footer .wrapper-footer .subscribe.address {
        flex-wrap: nowrap;
    }

    .flex-subscribe {
        flex-direction: column;

        button {
            margin-top: 10px;
            width: 75px;
        }
    }
}

@media (max-width: 700px) {

    .wrapper {
        max-width: 700px;
        width: 100%;

            &.blog {
                width: 100%;
            }
    }

    .contact-form .form-flex {
        flex-direction: column;
    }

    .contact-form .comment {
        width: 90%;
        margin: 0 20px 0 20px;
        text-align: center;
    }

    .form-flex .email,
    .website {
        margin-top: 10px;
    }

    footer h4 {
        font-size: 1rem;
        padding: 0;
        line-height: normal;
    }

    footer .wrapper-footer input {
        font-size: .55rem;
    }

    footer .wrapper-footer {
        flex-wrap: wrap;
        text-align: left;
        padding-top: 20px;
        justify-content: space-around;
        
        .address,
        .posts {
            width: 45%;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .subscribe {
            width: 100%;
            align-items: center;
        }

        h1 {
            font-size: 1rem;
            padding: 0;
        }
    }
}

@media (max-width: 400px) {

    .wrapper {
        max-width: 400px;
        width: 100%;
        margin: 0;
    }

    .nav-bar .menu-toggle-button {
        margin: 15px 5px 0 0;
    }

    .blog-title h1 {
        font-size: 1.5rem;
    }

    .blog-body p {
        font-size: 1rem;
    }

    .dishes-flex .list {
        width: 80%;

        li {
            margin: 0;
        }
    }

}