.nav-bar {
    background-image: url(../assets/home-1.jpeg);
    min-height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;

    &.blog {
        background-image: url(../assets/blog-1.jpeg);
        min-height: 50vh;
    }

    &.contact {
        background-image: url(../assets/contact-1.jpeg);
        min-height: 50vh;
    }
    
    .nav-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .logo-container {
            width: 20%;
            margin-top: 20px;
        }
        
        .search-cart {
            display: flex;
            width: 1%;
            margin-top: 20px;
            
            
            .bag-counter-container{
                width: 30px;
                height: 10px;
                position: relative;
                
                .bag-container,
                .counter {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                
                .counter {
                    background-color: $treegreen;
                    color: $tertiary;
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 5px;
                    position: relative;
                    z-index: 10;
                    top: 18px;
                    left: 3px;
                    
                    p {
                        font-family: $primary-font;
                        @include fontSize(13);
                    }
                }
            }
        }
    }

    
    .menu-hamburger {
        top: 70px;
        right: 50px;
        padding-right: 10px;
        background-color: beige;
        flex-direction: column;
        gap: 0;
        position: fixed;
        transition: 0.3s;
        
    }

    .menu-hamburger a {
        text-decoration: none;
        color: inherit;
        text-transform: capitalize;
        display: inline-block;
        font-family: 'Lato', sans-serif;
    }
    
    .click-here{
        display: none;
        cursor: pointer;
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out; 
        transition: all 0.3s ease-in-out;
        background-color: #2e992a;
    }

    .menu {
        display: flex;
        justify-content: flex-end;

        li {
            padding: 0px 15px 0 15px;
        }

        :last-child {
            padding-right: 0;
        }
    }



    .logo {
        margin-top: 25px;
    }

    a {
        line-height: 2.2rem;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: rgba($color: $treegreen, $alpha: 0.6);
        }
    }
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    align-items: center;
}