.post-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    .post {
        width: 31%;

        h3 {
            padding-top: 15px;
        }

        p {
            margin: 0;
            padding-bottom: 25px;
        }

        span {
            font-weight: bolder;
        }
    }
}



