@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Lora";
    src: url(../fonts/Lora/static/Lora-Italic.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Lora";
    src: url(../fonts/Lora/static/Lora-Regular.ttf);
    font-weight: normal;
}

html {
    font-family: 125%;
}