$primary-font: "Raleway";
$secondary-font: "Lora";

$base-font-size: 1rem;

$primary: rgb(46, 46, 46);
$secondary: #999999;
$tertiary: #f6f6f6;
$quaternary: #333333;
$quinary: #535353;
$treegreen: #2e992a;
