@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora/static/Lora-Italic.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora/static/Lora-Regular.ttf);
  font-weight: normal;
}
html {
  font-family: 125%;
}

body {
  font-family: "Lora";
  font-size: 1rem;
  color: #2e2e2e;
}

h1, h2, h3, h4 {
  font-family: "Raleway";
  color: #2e2e2e;
  margin: 0;
}

h1 {
  font-size: 46px;
  font-size: 2.3rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

h2 {
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 36px;
  text-transform: capitalize;
  letter-spacing: 0.6px;
}

h3 {
  font-size: 18px;
  font-size: 0.9rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 18px;
  font-size: 0.9rem;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

h5 {
  font-size: 13px;
  font-size: 0.65rem;
  line-height: 44px;
  letter-spacing: 0.3px;
}

p {
  font-size: 14px;
  font-size: 0.7rem;
  color: #535353;
  line-height: 24px;
  letter-spacing: 0.3px;
}

a {
  font-family: "Raleway";
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1289px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.border {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  border-bottom: 2px solid #2e992a;
}

.nav-bar {
  background-image: url(../assets/home-1.jpeg);
  min-height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.nav-bar.blog {
  background-image: url(../assets/blog-1.jpeg);
  min-height: 50vh;
}
.nav-bar.contact {
  background-image: url(../assets/contact-1.jpeg);
  min-height: 50vh;
}
.nav-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-bar .search-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-bar .search-cart .bag-counter-container {
  width: 16px;
  height: 16px;
  position: relative;
}
.nav-bar .search-cart .bag-counter-container .bag-container,
.nav-bar .search-cart .bag-counter-container .counter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.nav-bar .search-cart .bag-counter-container .counter {
  background-color: #2e992a;
  color: #f6f6f6;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  position: relative;
  z-index: 10;
  top: 18px;
  left: 3px;
}
.nav-bar .search-cart .bag-counter-container .counter p {
  font-family: "Raleway";
  font-size: 13px;
  font-size: 0.65rem;
}
.nav-bar .search-cart .menu-icon {
  padding: 0 25px;
  margin-top: 30px;
}
.nav-bar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 350px;
}
.nav-bar .menu li {
  padding: 20px 15px 0 15px;
}
.nav-bar .menu :last-child {
  padding-right: 0;
}
.nav-bar .logo {
  margin-top: 25px;
}
.nav-bar a {
  line-height: 2.2rem;
  text-transform: uppercase;
  font-weight: 100;
}
.nav-bar a:hover, .nav-bar a:focus {
  color: rgba(46, 153, 42, 0.6);
}

footer {
  background-color: #2e2e2e;
  color: #f6f6f6;
  padding: 70px 0 100px;
}
footer h1 {
  color: #2e992a;
  padding: 10px 0 20px 0;
}
footer h4 {
  color: #f6f6f6;
  text-transform: uppercase;
  padding-bottom: 20px;
}
footer h5 {
  color: #999999;
  line-height: 20px;
  font-weight: normal;
}
footer li {
  border-bottom: 0.5px solid #999999;
}
footer li:first-child,
footer li:last-child {
  border-bottom: none;
}
footer .wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
footer .wrapper-footer .address,
footer .wrapper-footer .posts,
footer .wrapper-footer .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  padding: 40px;
}
footer .wrapper-footer.address {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .wrapper-footer input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #535353;
  color: #999999;
  border: none;
}

.popular-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0%;
  width: 100%;
}
.popular-flex li {
  width: 50%;
}
.popular-flex li.recipe-button {
  display: block;
}
.popular-flex li .popular-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.popular-flex li .popular-text h3 {
  font-size: 24px;
  font-size: 1.2rem;
  margin: 0px 0 20px 0;
}
.popular-flex li .popular-text .wrapper {
  width: 71%;
}
.popular-flex li .popular-text .wrapper p {
  margin-top: 50px;
}
.popular-flex li button {
  background-color: #2e992a;
  color: #f6f6f6;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.dishes-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0%;
  width: 100%;
  background-color: #f6f6f6;
}
.dishes-flex .dishes-img {
  width: 50%;
}
.dishes-flex .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.dishes-flex li::before {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-right: 8px;
  content: "";
}
.dishes-flex .vegetarian::before {
  background-image: url(../assets/lemon-solid.svg);
}
.dishes-flex .desserts::before {
  background-image: url(../assets/mug-solid.svg);
}
.dishes-flex .salads::before {
  background-image: url(../assets/leaf-solid.svg);
}
.dishes-flex .appetizers::before {
  background-image: url(../assets/utensils-solid.svg);
}
.dishes-flex .drinks::before {
  background-image: url(../assets/martini-glass-solid.svg);
}
.dishes-flex .side-dishes::before {
  background-image: url(../assets/spoon-solid.svg);
}
.dishes-flex h4 {
  display: inline-block;
  text-align: left;
}
.dishes-flex p {
  margin-top: 5px;
  text-align: left;
  margin-left: 10px;
}

.restaurant-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 200px 0;
}
.restaurant-container .img-container-restaurant {
  background-image: url(../assets/home-4.jpeg);
  background-repeat: no-repeat;
  width: 500px;
  height: 295px;
}
.restaurant-container img {
  position: relative;
  width: 175px;
  height: 175px;
  top: -35%;
  left: 80%;
}
.restaurant-container h3 {
  font-size: 24px;
  font-size: 1.2rem;
  margin: 50px 0 20px 0;
}
.restaurant-container .border {
  width: 5%;
}
.restaurant-container .wrapper {
  text-align: center;
  width: 50%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.gallery .gallery-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.gallery .gallery-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.quote {
  width: 100%;
  height: 500px;
  background-color: #dded9a;
}
.quote .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote .wrapper h3 {
  font-size: 24px;
  font-size: 1.2rem;
  padding-top: 125px;
}
.quote .wrapper .border {
  width: 5%;
}
.quote .wrapper p:before {
  display: block;
  font-size: 100px;
  font-size: 5rem;
  color: #f6f6f6;
  position: relative;
  right: 50px;
  top: 20px;
  width: 30px;
  height: 30px;
  content: "“";
}
.quote .wrapper p:after {
  display: block;
  font-size: 100px;
  font-size: 5rem;
  color: #f6f6f6;
  position: relative;
  left: 600px;
  width: 30px;
  height: 30px;
  content: "”";
}
.quote .wrapper .arrow-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.quote .wrapper .arrow-flex i {
  padding: 15px;
}
.quote .wrapper .arrow-flex .fa-angle-left {
  color: #2e2e2e;
}

.contact-photo {
  background-image: url(../assets/contact-2.jpeg);
  min-height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}