@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora/static/Lora-Italic.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/static/Raleway-Light.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora/static/Lora-Regular.ttf);
  font-weight: normal;
}
html {
  font-family: 125%;
}

body {
  font-family: "Lora";
  font-size: 1rem;
  color: rgb(46, 46, 46);
}

h1, h2, h3, h4 {
  font-family: "Raleway";
  color: rgb(46, 46, 46);
  margin: 0;
}

h1 {
  font-size: 46px;
  font-size: 2.3rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

h2 {
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 36px;
  text-transform: capitalize;
  letter-spacing: 0.6px;
}

h3 {
  font-size: 18px;
  font-size: 0.9rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 18px;
  font-size: 0.9rem;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

h5 {
  font-size: 13px;
  font-size: 0.65rem;
  line-height: 44px;
  letter-spacing: 0.3px;
}

p {
  font-size: 14px;
  font-size: 0.7rem;
  color: #535353;
  line-height: 24px;
  letter-spacing: 0.3px;
}

a {
  font-family: "Raleway";
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1289px;
  width: 90%;
  margin: 0 auto;
}
.wrapper.blog {
  width: 62%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

button {
  text-transform: uppercase;
  font-family: "Raleway";
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
}
button.big {
  background-color: #2e992a;
  color: #f6f6f6;
  border: none;
  cursor: pointer;
  padding: 20px 50px;
}

.border {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  border-bottom: 2px solid #2e992a;
}

.bottom-border {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #999999;
}

.title {
  padding: 20px 0;
}
.title p span {
  font-size: 18px;
  font-size: 0.9rem;
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: bold;
}

input,
textarea {
  border: 1px solid #999999;
  font-family: "Lora";
  font-size: 16px;
  font-size: 0.8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 0.5;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 0.5;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 0.5;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 0.5;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.5;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border: 2px solid #2e992a;
  border-color: #2e992a;
  -webkit-box-shadow: #2e992a;
          box-shadow: #2e992a;
}

textarea {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #f6f6f6;
}

.name input,
.email input,
.website input,
.your-email input,
.subject input {
  height: 35px;
}

.comment textarea {
  line-height: 20px;
}

.nav-bar {
  background-image: url(../assets/home-1.jpeg);
  min-height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.nav-bar.blog {
  background-image: url(../assets/blog-1.jpeg);
  min-height: 50vh;
}
.nav-bar.contact {
  background-image: url(../assets/contact-1.jpeg);
  min-height: 50vh;
}
.nav-bar .nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.nav-bar .nav-flex .logo-container {
  width: 20%;
  margin-top: 20px;
}
.nav-bar .nav-flex .search-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1%;
  margin-top: 20px;
}
.nav-bar .nav-flex .search-cart .bag-counter-container {
  width: 30px;
  height: 10px;
  position: relative;
}
.nav-bar .nav-flex .search-cart .bag-counter-container .bag-container,
.nav-bar .nav-flex .search-cart .bag-counter-container .counter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.nav-bar .nav-flex .search-cart .bag-counter-container .counter {
  background-color: #2e992a;
  color: #f6f6f6;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  position: relative;
  z-index: 10;
  top: 18px;
  left: 3px;
}
.nav-bar .nav-flex .search-cart .bag-counter-container .counter p {
  font-family: "Raleway";
  font-size: 13px;
  font-size: 0.65rem;
}
.nav-bar .menu-hamburger {
  top: 70px;
  right: 50px;
  padding-right: 10px;
  background-color: beige;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  position: fixed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-bar .menu-hamburger a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  display: inline-block;
  font-family: "Lato", sans-serif;
}
.nav-bar .click-here {
  display: none;
  cursor: pointer;
}
.nav-bar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2e992a;
}
.nav-bar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav-bar .menu li {
  padding: 0px 15px 0 15px;
}
.nav-bar .menu :last-child {
  padding-right: 0;
}
.nav-bar .logo {
  margin-top: 25px;
}
.nav-bar a {
  line-height: 2.2rem;
  text-transform: uppercase;
}
.nav-bar a:hover, .nav-bar a:focus {
  color: rgba(46, 153, 42, 0.6);
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #333333;
  color: #f6f6f6;
  padding-top: 70px;
}
footer h1 {
  color: #2e992a;
  padding: 10px 0 20px 0;
}
footer h4 {
  color: #f6f6f6;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 24px;
  font-size: 1.2rem;
}
footer h5 {
  color: #999999;
  line-height: 20px;
  font-weight: normal;
}
footer h5 span {
  display: block;
}
footer li {
  border-bottom: 0.5px solid #999999;
}
footer li:first-child,
footer li:last-child {
  border-bottom: none;
}
footer .wrapper-footer {
  max-width: 1289px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
footer .wrapper-footer .address {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 26%;
}
footer .wrapper-footer .posts {
  width: 30%;
}
footer .wrapper-footer .posts h5 {
  margin: 12.5px 0;
}
footer .wrapper-footer .subscribe {
  width: 21%;
}
footer .wrapper-footer .subscribe li {
  border-bottom: none;
}
footer .wrapper-footer .subscribe .flex-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-bottom: 50px;
  border-bottom: 0.5px solid #999999;
}
footer .wrapper-footer .subscribe button {
  color: #f6f6f6;
  background-color: #2e992a;
  height: 50px;
  text-align: center;
}
footer .wrapper-footer .subscribe .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}
footer .wrapper-footer .subscribe .socials li {
  padding: 0 10px;
  border-bottom: none;
}
footer .wrapper-footer .subscribe .socials li i:hover, footer .wrapper-footer .subscribe .socials li i:focus {
  color: rgba(46, 153, 42, 0.6);
}
footer .wrapper-footer .address,
footer .wrapper-footer .posts,
footer .wrapper-footer .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
footer .wrapper-footer input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #535353;
  color: #999999;
  border: none;
  height: 50px;
  text-indent: 5%;
  font-style: italic;
  width: 100%;
}
footer .wrapper-copyrights {
  background-color: rgb(46, 46, 46);
}
footer .wrapper-copyrights .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(46, 46, 46);
  padding-left: 40px;
}
footer .wrapper-copyrights .copyright h5 {
  font-family: "Raleway";
}
footer .wrapper-copyrights .copyright h5 span {
  color: #2e992a;
  display: inline-block;
}

.popular-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0%;
  width: 100%;
}
.popular-flex li {
  width: 50%;
  text-align: center;
}
.popular-flex li.recipe-button {
  display: block;
}
.popular-flex li .popular-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.popular-flex li .popular-text h3 {
  font-size: 24px;
  font-size: 1.2rem;
  margin: 0px 0 20px 0;
}
.popular-flex li .popular-text .wrapper {
  width: 100%;
}
.popular-flex li .popular-text .wrapper p {
  margin: 30px 0;
}

.dishes-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f6f6f6;
}
.dishes-flex .dishes-img {
  width: 50%;
}
.dishes-flex .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 50px;
}
.dishes-flex .list li {
  margin: 0 20px 10px 20px;
}
.dishes-flex .list li::before {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-right: 8px;
  content: "";
}
.dishes-flex .list .vegetarian::before {
  background-image: url(../assets/lemon-solid.svg);
}
.dishes-flex .list .desserts::before {
  background-image: url(../assets/mug-solid.svg);
}
.dishes-flex .list .salads::before {
  background-image: url(../assets/leaf-solid.svg);
}
.dishes-flex .list .appetizers::before {
  background-image: url(../assets/utensils-solid.svg);
}
.dishes-flex .list .drinks::before {
  background-image: url(../assets/martini-glass-solid.svg);
}
.dishes-flex .list .side-dishes::before {
  background-image: url(../assets/spoon-solid.svg);
}
.dishes-flex .list h4 {
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
}
.dishes-flex .list p {
  line-height: 20px;
  text-align: left;
  margin: 0px 0px 0px 40px;
  font-size: 0.6rem;
}

.restaurant-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 200px 0;
}
.restaurant-container .img-container-restaurant {
  background-image: url(../assets/home-4.jpeg);
  background-repeat: no-repeat;
  width: 500px;
  height: 295px;
}
.restaurant-container img {
  position: relative;
  width: 175px;
  height: 175px;
  top: -35%;
  left: 80%;
}
.restaurant-container h3 {
  font-size: 24px;
  font-size: 1.2rem;
  margin: 50px 0 20px 0;
}
.restaurant-container .border {
  width: 5%;
}
.restaurant-container .wrapper {
  text-align: center;
  width: 50%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.gallery .gallery-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.gallery .gallery-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.quote {
  width: 100%;
  height: 500px;
  background-color: #dded9a;
}
.quote .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote .wrapper h3 {
  font-size: 24px;
  font-size: 1.2rem;
  padding-top: 125px;
}
.quote .wrapper .border {
  padding-top: 20px;
  width: 15%;
}
.quote .wrapper .quote-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.quote .wrapper p {
  width: 100%;
  font-size: 15px;
  font-size: 0.75rem;
  font-style: italic;
  font-family: "Raleway";
  font-weight: lighter;
}
.quote .wrapper blockquote {
  display: block;
  max-width: 90%;
  position: relative;
  padding: 0 5px;
  margin: 0 auto;
}
.quote .wrapper blockquote:before, .quote .wrapper blockquote:after {
  content: "“";
  font-size: 80px;
  font-size: 4rem;
  font-family: "Lora";
  color: #f6f6f6;
  position: absolute;
  left: -30px;
  top: 5px;
}
.quote .wrapper blockquote:after {
  content: "”";
  right: -30px;
  left: auto;
  top: 80px;
}
.quote .wrapper .arrow-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.quote .wrapper .arrow-flex i {
  padding: 15px;
}
.quote .wrapper .arrow-flex .fa-angle-left {
  color: rgb(46, 46, 46);
}

.blog-post {
  margin-top: 150px;
}
.blog-post span {
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: bold;
}
.blog-post .blog-title {
  padding-bottom: 15px;
}
.blog-post .blog-title h3 {
  font-size: 34px;
  font-size: 1.7rem;
  line-height: 10px;
}
.blog-post .blog-body {
  padding-bottom: 20px;
}
.blog-post .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-post .share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-post .share ul li {
  padding: 10px;
}

.highlight {
  margin-top: 50px;
}
.highlight .wrapper {
  width: 60%;
}
.highlight .wrapper .highlight-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 30px;
}
.highlight .wrapper .highlight-flex .highlight-img {
  width: 20%;
}
.highlight .wrapper .highlight-flex .highlight-text {
  width: 77%;
  background-color: #f6f6f6;
}
.highlight .wrapper .highlight-flex .highlight-text span {
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: bold;
}
.highlight .wrapper .highlight-flex .highlight-text p {
  margin: 25px 0 0 25px;
}

.post-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.post-flex .post {
  width: 31%;
}
.post-flex .post h3 {
  padding-top: 15px;
}
.post-flex .post p {
  margin: 0;
  padding-bottom: 25px;
}
.post-flex .post span {
  font-weight: bolder;
}

.comment-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.comment-flex .comment {
  margin-bottom: 25px;
}
.comment-flex .comment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comment-flex .comment ul .image {
  width: 100px;
  height: 100px;
  width: 10%;
}
.comment-flex .comment ul .comment-text {
  background-color: #f6f6f6;
  width: 87%;
}
.comment-flex .comment ul .comment-text p {
  margin: 0 0 15px 20px;
}
.comment-flex .comment ul .comment-text span {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 18px;
  font-size: 0.9rem;
}
.comment-flex .comment ul .comment-text .date {
  font-family: "Raleway";
}
.comment-flex .comment ul li:nth-child(2):before {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  content: "";
}
.comment-flex .comment ul .comment-text::before {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 16px solid #f6f6f6;
  border-bottom: 8px solid transparent;
  position: relative;
  right: 15px;
  top: 15px;
}

form p {
  line-height: 0;
}

.form {
  padding: 20px 0 0 0;
}

.form-subtitle {
  font-style: italic;
}

.contact-form .form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: none;
}
.contact-form .big {
  margin: 20px 0 200px 0;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-flex .contact-left {
  width: 51%;
  margin-left: 20%;
}
.contact-flex .contact-left .drop-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-flex .contact-left .drop-form form {
  margin-right: 30px;
}
.contact-flex .contact-left .drop-form .form-flex-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.contact-flex .contact-left .drop-form .form-flex-top li {
  width: 50%;
}
.contact-flex .contact-left .drop-form .form-flex-top li.name {
  margin-right: 10px;
}
.contact-flex .contact-left .drop-form .form-flex-top li.your-email {
  margin-left: 10px;
}
.contact-flex .contact-left .drop-form .form-flex-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.contact-flex .contact-left .drop-form .form-flex-bottom li {
  width: 100%;
}
.contact-flex .contact-left .drop-form button, .contact-flex .contact-left .drop-form i {
  color: #2e992a;
}
.contact-flex input,
.contact-flex textarea {
  width: 100%;
  background-color: #f6f6f6;
  border: none;
  text-indent: 2%;
}
.contact-flex .contact-right {
  width: 49%;
  background-color: #f6f6f6;
}
.contact-flex .contact-right .contact-details {
  margin: 0 51% 0 30px;
}
.contact-flex .contact-right .working-hours {
  margin: 30px 0;
}
.contact-flex .contact-right .working-hours .hours {
  margin: 0;
}
.contact-flex .contact-right .working-hours .hours p {
  margin: 0;
}
.contact-flex .contact-right .working-hours .hours span {
  font-family: "Raleway";
  font-weight: bold;
}
.contact-flex .contact-right .working-hours .days-off p {
  color: #b6b6b6;
  margin: 0;
}
.contact-flex .contact-right .info .info-location,
.contact-flex .contact-right .info .info-email,
.contact-flex .contact-right .info .info-phone {
  padding-bottom: 25px;
}
.contact-flex .contact-right .info p {
  color: #b6b6b6;
  margin: 0;
}

.contact-photo {
  background-image: url(../assets/contact-2.jpeg);
  min-height: 70vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  margin: 50px 0 30px 0;
}

h4 {
  text-transform: uppercase;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(251, 237, 237, 0.3);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #2e992a;
  padding: 30px 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 1000px;
  max-width: 100%;
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  color: #f6f6f6;
  font-size: 1rem;
}

.close {
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 1255px) {
  .wrapper {
    max-width: 1255px;
  }
  .dishes-flex,
.popular-flex {
    padding: 0;
  }
  .dishes-flex .list,
.popular-flex .list {
    padding: 0;
  }
  footer .wrapper-footer {
    width: 80%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 1225px) {
  .wrapper {
    max-width: 1225px;
  }
  .wrapper.blog {
    width: 80%;
  }
}
@media (max-width: 1165px) {
  .wrapper {
    max-width: 1165px;
    width: 80%;
  }
  footer {
    padding: 0;
    text-align: center;
  }
  footer li {
    padding: 0;
  }
  footer .wrapper-footer {
    width: 100%;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper-footer .address,
footer .wrapper-footer .posts,
footer .wrapper-footer .subscribe {
    width: 20%;
    padding: 0;
  }
  footer .wrapper-footer .subscribe {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  footer .wrapper-footer .address {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  footer .socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .wrapper-copyrights .copyright {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
@media (max-width: 1049px) {
  .wrapper {
    max-width: 1000px;
    width: 90%;
  }
  .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-bar .nav-flex {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav-bar .nav-flex .click-here {
    display: block;
    position: fixed;
  }
  .nav-bar .nav-flex .logo-container {
    width: 90%;
  }
  .nav-bar .nav-flex :nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .nav-bar .menu {
    display: none;
  }
  .nav-bar .menu-toggle-button {
    margin: 15px 0 0 40px;
  }
  .nav-bar .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar .nav-flex .search-cart {
    width: auto;
    padding-right: 50px;
  }
  .click-here.active .bar:nth-child(2) {
    opacity: 0;
  }
  .click-here.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .click-here.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-flex .contact-right {
    width: 100%;
  }
  .contact-flex .contact-right .contact-details {
    text-align: center;
    margin: 0 30px;
  }
  .contact-flex .contact-right .contact-details .details p {
    margin: 0 20%;
  }
  .contact-flex .contact-left {
    width: 80%;
    margin: 0 auto;
  }
  .contact-flex .contact-left .drop-form h2 {
    text-align: center;
  }
}
@media (max-width: 978px) {
  .wrapper {
    max-width: 978px;
    width: 80%;
  }
  .wrapper-popular-dishes {
    width: 100%;
    margin: 0 auto;
  }
  .wrapper-popular-dishes .popular {
    padding: 20px 0;
    background-color: rgba(46, 46, 46, 0.8);
  }
  .wrapper-popular-dishes .popular .popular-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper-popular-dishes .popular .popular-flex li {
    width: 100%;
  }
  .wrapper-popular-dishes .popular .popular-flex li:nth-child(2) {
    padding: 0;
    margin: 10px 0;
    border: 2px solid #2e992a;
  }
  .wrapper-popular-dishes .popular .popular-flex .popular-text {
    background-color: #999999;
    padding-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #2e992a;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper-popular-dishes .popular .popular-flex .popular-text p {
    color: #f6f6f6;
  }
  .wrapper-popular-dishes .dishes-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: rgba(153, 153, 153, 0.6);
  }
  .wrapper-popular-dishes .dishes-flex .dishes-img {
    margin-top: 20px;
    border: 2px solid #2e992a;
    width: 100%;
  }
  .wrapper-popular-dishes .dishes-flex,
.wrapper-popular-dishes .popular-flex {
    padding-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .wrapper-popular-dishes .dishes-flex li,
.wrapper-popular-dishes .popular-flex li {
    width: 100%;
  }
  .wrapper-popular-dishes .dishes-flex .list,
.wrapper-popular-dishes .popular-flex .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0;
  }
  .wrapper-popular-dishes .dishes-flex .list li::before,
.wrapper-popular-dishes .popular-flex .list li::before {
    background-color: #2e992a;
    border-radius: 15%;
  }
  .popular-img {
    margin-top: 20px;
    border: 2px solid #2e992a;
    width: 100%;
  }
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery .gallery-container {
    background-color: rgba(153, 153, 153, 0.6);
  }
  .gallery .gallery-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant-container {
    margin: 75px 0;
  }
  .restaurant-container .img-container-restaurant {
    width: 225px;
    height: 147.5px;
    background-size: contain;
  }
  .restaurant-container img {
    width: 87.5px;
    height: 87.5px;
  }
}
@media (max-width: 914px) {
  .wrapper {
    max-width: 914px;
    max-width: 80%;
  }
  .quote {
    height: 300px;
  }
  .quote .wrapper {
    width: 100%;
  }
  .quote .wrapper h3 {
    padding-top: 25px;
  }
  .quote .wrapper p {
    font-size: 0.75rem;
  }
  .quote .wrapper blockquote:before {
    left: -10px;
  }
  .quote .wrapper blockquote:after {
    right: -10px;
    top: 150px;
  }
}
@media (max-width: 860px) {
  .wrapper {
    max-width: 860px;
    width: 80%;
  }
  .wrapper.blog {
    width: 100%;
  }
  .wrapper.blog .title {
    text-align: center;
  }
  .wrapper.blog .form-subtitle {
    text-align: center;
  }
  .wrapper.blog .post-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper.blog .post-flex .post {
    width: 75%;
  }
  .wrapper.blog .post-flex .post h3 {
    text-align: center;
  }
  .wrapper.blog .post-flex .post p {
    text-align: center;
  }
  .wrapper.blog .submit-button {
    text-align: center;
  }
  .highlight .wrapper .highlight-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .highlight .wrapper .highlight-flex .highlight-img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .highlight .wrapper .highlight-flex .highlight-text {
    width: 100%;
    margin-top: 20px;
  }
  .highlight .wrapper .highlight-flex .highlight-text p {
    margin: 0;
  }
  .related {
    background-color: #f6f6f6;
  }
  footer .wrapper-footer {
    max-width: 860px;
    width: 100%;
    text-align: left;
  }
  footer .wrapper-footer h1 {
    font-size: 1rem;
    line-height: 25px;
    padding: 0;
  }
  footer .wrapper-footer h4 {
    font-size: 0.75rem;
    line-height: 25px;
    padding: 0;
  }
  footer .wrapper-footer .address {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  footer .wrapper-footer .subscribe {
    padding: 0;
  }
  footer .wrapper-footer li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .wrapper-footer .subscribe.address {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .flex-subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-subscribe button {
    margin-top: 10px;
    width: 75px;
  }
}
@media (max-width: 700px) {
  .wrapper {
    max-width: 700px;
    width: 80%;
  }
  .wrapper.blog {
    width: 100%;
  }
  .contact-form .form-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form .comment {
    width: 90%;
    margin: 0 20px 0 20px;
    text-align: center;
  }
  .form-flex .email,
.website {
    margin-top: 10px;
  }
  footer h4 {
    font-size: 1rem;
    padding: 0;
    line-height: normal;
  }
  footer .wrapper-footer input {
    font-size: 0.55rem;
  }
  footer .wrapper-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
    padding-top: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .wrapper-footer .address,
footer .wrapper-footer .posts {
    width: 45%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper-footer .subscribe {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper-footer h1 {
    font-size: 1rem;
    padding: 0;
  }
}
@media (max-width: 400px) {
  .wrapper {
    max-width: 400px;
    width: 80%;
    margin: 0;
  }
  .nav-bar .menu-toggle-button {
    margin: 15px 5px 0 0;
  }
  .blog-title h1 {
    font-size: 1.5rem;
  }
  .blog-body p {
    font-size: 1rem;
  }
  .dishes-flex .list {
    width: 80%;
  }
  .dishes-flex .list li {
    margin: 0;
  }
}